src/main/resources/yql_teams.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="query">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="results">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="Team" maxOccurs="unbounded" minOccurs="0">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element type="xs:dateTime" name="LastUpdated"/>
                    <xs:element name="TeamId">
                      <xs:complexType>
                        <xs:simpleContent>
                          <xs:extension base="xs:byte">
                            <xs:attribute type="xs:byte" name="status" use="optional"/>
                          </xs:extension>
                        </xs:simpleContent>
                      </xs:complexType>
                    </xs:element>
                    <xs:element type="xs:string" name="TeamName"/>
                    <xs:element type="xs:string" name="ShortName"/>
                    <xs:element type="xs:string" name="TeamType"/>
                    <xs:element type="xs:string" name="TeamCategory"/>
                    <xs:element type="xs:anyURI" name="TeamLogoPath"/>
                    <xs:element type="xs:anyURI" name="TeamLogoSmallPath"/>
                    <xs:element type="xs:anyURI" name="TeamFlagPath"/>
                    <xs:element type="xs:anyURI" name="TeamSmallFlagPath"/>
                    <xs:element name="Ranking" maxOccurs="unbounded" minOccurs="0">
                      <xs:complexType>
                        <xs:simpleContent>
                          <xs:extension base="xs:byte">
                            <xs:attribute type="xs:string" name="mtype" use="optional"/>
                            <xs:attribute type="xs:string" name="ranker" use="optional"/>
                            <xs:attribute type="xs:string" name="trend" use="optional"/>
                          </xs:extension>
                        </xs:simpleContent>
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="Captain" maxOccurs="unbounded" minOccurs="0">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element type="xs:string" name="FirstName"/>
                          <xs:element type="xs:string" name="LastName"/>
                        </xs:sequence>
                        <xs:attribute type="xs:string" name="current_captain" use="optional"/>
                        <xs:attribute type="xs:string" name="mtype" use="optional"/>
                        <xs:attribute type="xs:short" name="personid" use="optional"/>
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="Coach">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element type="xs:string" name="FirstName"/>
                          <xs:element type="xs:string" name="LastName"/>
                        </xs:sequence>
                        <xs:attribute type="xs:int" name="personid" use="optional"/>
                        <xs:attribute type="xs:string" name="role" use="optional"/>
                      </xs:complexType>
                    </xs:element>
                    <xs:element type="xs:anyURI" name="TeamRoundFlagPath"/>
                    <xs:element type="xs:anyURI" name="TeamSmallRoundFlagPath"/>
                    <xs:element type="xs:anyURI" name="TeamLargeRoundFlagPath"/>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
<!--       <xs:attribute ref="base:count" xmlns:base="http://www.yahooapis.com/v1/base.rng"/>
      <xs:attribute ref="base:created" xmlns:base="http://www.yahooapis.com/v1/base.rng"/>
      <xs:attribute ref="base:lang" xmlns:base="http://www.yahooapis.com/v1/base.rng"/>
 -->    </xs:complexType>
  </xs:element>
</xs:schema>